## data preprocessing [ML pipeline]
- Data collection -  web scrapping / database (sql) / data lake (Biquerry) -big data tools
- Data read -  csv,json,xl,.html

-----
## Data cleaning 

    - Duplicates 
        - Repated entry / contain same value or record 
        - Why we have to remove ?
            - Same data records can be seen in both train and test dataset result in data leakage
            when the are coming in data leakege
              . Feature scalling
              . Data splitting  
              . Model Training (ml models) 
              . Model Evaluvation (metrics) 
------   
    - Regex Handling -----> converted np.nan
    - Null value / NaN values (des stat, ml )
        - shows only the empty cell count using isnull() or isna() 
        - regex is not counted as null or NaN
        - How to handle Null or NaN ?
           1. Remove :
               - when your null value is low in count 
               - when cell are empty by mistake rows or column
               -  How?
                    - Drop the unwanted columns or rows
           2. Replace : 
               - when your null value is large in count 
               - How ?
                   - Median - because it is not affected by outliers
                   - Imputations :
                       - A,B,C,D,E,F,J
                       -J HAS a null value in row 
                       data split
                       - J HAS a some null value in row
                       - J HAS a no null value in row 
                       model training
                       - x(remaining column s rows)and y is ---J HAS a no null value in row 
                       - model - Training - X and Y 
                       model predict 
                       - x(remaining column s rows)and y is-----J HAS a some null value in row
                       - model - Predicting - X -----> model gives predicted Y
       
---
    - outlier (wrong / extreme data) --- Normal distribution (Emprical formula)
    
-------
- Feature encoding 
    - Categorical to number 
- Feature Extraction (NLP,image dataset)
- Feature selection (Inferencial statistics, models)
- Feature scalling (normal distribution/ standard normal ( z-test)) 
- Data splitting  
- Model Training (ml models) 
- Model Evaluvation (metrics) 
- Model Hyperparameter tunning 
- Model save (.pkl,joblib)------- using this i can go fro predict Predict 

--------------------------

In [5]:
import pandas as pd
import numpy as np
import sys

In [6]:
# increase the default column
pd.set_option('display.max_rows', 100)
pd.set_option('display.max_columns', 100)

In [7]:
df=pd.read_csv("D:\hypothyroid.csv")

In [8]:
df

,age,sex,on thyroxine,query on thyroxine,on antithyroid medication,sick,pregnant,thyroid surgery,I131 treatment,query hypothyroid,query hyperthyroid,lithium,goitre,tumor,hypopituitary,psych,TSH measured,TSH,T3 measured,T3,TT4 measured,TT4,T4U measured,T4U,FTI measured,FTI,TBG measured,TBG,referral source,binaryClass
0,41,F,f,f,f,f,f,f,f,f,f,f,f,f,f,f,t,1.3,t,2.5,t,125,t,1.14,t,109,f,?,SVHC,P
1,23,F,f,f,f,f,f,f,f,f,f,f,f,f,f,f,t,4.1,t,2,t,102,f,?,f,?,f,?,other,P
2,46,M,f,f,f,f,f,f,f,f,f,f,f,f,f,f,t,0.98,f,?,t,109,t,0.91,t,120,f,?,other,P
3,70,F,t,f,f,f,f,f,f,f,f,f,f,f,f,f,t,0.16,t,1.9,t,175,f,?,f,?,f,?,other,P
4,70,F,f,f,f,f,f,f,f,f,f,f,f,f,f,f,t,0.72,t,1.2,t,61,t,0.87,t,70,f,?,SVI,P
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3767,30,F,f,f,f,f,f,f,f,f,f,f,f,t,f,f,f,?,f,?,f,?,f,?,f,?,f,?,other,P
3768,68,F,f,f,f,f,f,f,f,f,f,f,f,f,f,f,t,NaN,t,2.1,t,124,t,1.08,t,114,f,?,SVI,P
3769,74,F,f,f,f,f,f,f,f,f,t,f,f,f,f,f,t,NaN,t,1.8,t,112,t,1.07,t,105,f,?,other,P
3770,72,M,f,f,f,f,f,f,f,f,f,f,f,f,f,f,t,NaN,t,2,t,82,t,0.94,t,87,f,?,SVI,P
3771,64,F,f,f,f,f,f,f,f,f,f,f,f,f,f,f,t,NaN,t,2.2,t,99,t,1.07,t,92,f,?,other,P

In [9]:
df.tail()

,age,sex,on thyroxine,query on thyroxine,on antithyroid medication,sick,pregnant,thyroid surgery,I131 treatment,query hypothyroid,query hyperthyroid,lithium,goitre,tumor,hypopituitary,psych,TSH measured,TSH,T3 measured,T3,TT4 measured,TT4,T4U measured,T4U,FTI measured,FTI,TBG measured,TBG,referral source,binaryClass
3767,30,F,f,f,f,f,f,f,f,f,f,f,f,t,f,f,f,?,f,?,f,?,f,?,f,?,f,?,other,P
3768,68,F,f,f,f,f,f,f,f,f,f,f,f,f,f,f,t,NaN,t,2.1,t,124,t,1.08,t,114,f,?,SVI,P
3769,74,F,f,f,f,f,f,f,f,f,t,f,f,f,f,f,t,NaN,t,1.8,t,112,t,1.07,t,105,f,?,other,P
3770,72,M,f,f,f,f,f,f,f,f,f,f,f,f,f,f,t,NaN,t,2,t,82,t,0.94,t,87,f,?,SVI,P
3771,64,F,f,f,f,f,f,f,f,f,f,f,f,f,f,f,t,NaN,t,2.2,t,99,t,1.07,t,92,f,?,other,P

In [10]:
df.shape

(3772, 30)

In [11]:
df=df.drop_duplicates()
df

,age,sex,on thyroxine,query on thyroxine,on antithyroid medication,sick,pregnant,thyroid surgery,I131 treatment,query hypothyroid,query hyperthyroid,lithium,goitre,tumor,hypopituitary,psych,TSH measured,TSH,T3 measured,T3,TT4 measured,TT4,T4U measured,T4U,FTI measured,FTI,TBG measured,TBG,referral source,binaryClass
0,41,F,f,f,f,f,f,f,f,f,f,f,f,f,f,f,t,1.3,t,2.5,t,125,t,1.14,t,109,f,?,SVHC,P
1,23,F,f,f,f,f,f,f,f,f,f,f,f,f,f,f,t,4.1,t,2,t,102,f,?,f,?,f,?,other,P
2,46,M,f,f,f,f,f,f,f,f,f,f,f,f,f,f,t,0.98,f,?,t,109,t,0.91,t,120,f,?,other,P
3,70,F,t,f,f,f,f,f,f,f,f,f,f,f,f,f,t,0.16,t,1.9,t,175,f,?,f,?,f,?,other,P
4,70,F,f,f,f,f,f,f,f,f,f,f,f,f,f,f,t,0.72,t,1.2,t,61,t,0.87,t,70,f,?,SVI,P
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3767,30,F,f,f,f,f,f,f,f,f,f,f,f,t,f,f,f,?,f,?,f,?,f,?,f,?,f,?,other,P
3768,68,F,f,f,f,f,f,f,f,f,f,f,f,f,f,f,t,NaN,t,2.1,t,124,t,1.08,t,114,f,?,SVI,P
3769,74,F,f,f,f,f,f,f,f,f,t,f,f,f,f,f,t,NaN,t,1.8,t,112,t,1.07,t,105,f,?,other,P
3770,72,M,f,f,f,f,f,f,f,f,f,f,f,f,f,f,t,NaN,t,2,t,82,t,0.94,t,87,f,?,SVI,P
3771,64,F,f,f,f,f,f,f,f,f,f,f,f,f,f,f,t,NaN,t,2.2,t,99,t,1.07,t,92,f,?,other,P

In [140]:
df.shape

(3711, 30)

In [141]:
df.describe()

,age,sex,on thyroxine,query on thyroxine,on antithyroid medication,sick,pregnant,thyroid surgery,I131 treatment,query hypothyroid,query hyperthyroid,lithium,goitre,tumor,hypopituitary,psych,TSH measured,TSH,T3 measured,T3,TT4 measured,TT4,T4U measured,T4U,FTI measured,FTI,TBG measured,TBG,referral source,binaryClass
count,3711,3711,3711,3711,3711,3711,3711,3711,3711,3711,3711,3711,3711,3711,3711,3711,3711,3707,3711,3711,3711,3711,3711,3711,3711,3711,3711,3711,3711,3711
unique,94,3,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,288,2,70,2,242,2,147,2,235,1,1,5,2
top,59,F,f,f,f,f,f,f,f,f,f,f,f,f,f,f,t,?,t,?,t,?,t,?,t,?,f,?,other,P
freq,95,2424,3247,3661,3669,3564,3658,3658,3652,3477,3477,3693,3677,3615,3710,3527,3402,309,3002,709,3540,171,3384,327,3386,325,3711,3711,2140,3420

## This is an imbalance data set 
     . set column contain f 2424 out of 3711 row 
     . Binary class column contain negative 3420 out of 3711 row
     . so it is an  imbalance data set

In [142]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 3711 entries, 0 to 3771
Data columns (total 30 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   age                        3711 non-null   object
 1   sex                        3711 non-null   object
 2   on thyroxine               3711 non-null   object
 3   query on thyroxine         3711 non-null   object
 4   on antithyroid medication  3711 non-null   object
 5   sick                       3711 non-null   object
 6   pregnant                   3711 non-null   object
 7   thyroid surgery            3711 non-null   object
 8   I131 treatment             3711 non-null   object
 9   query hypothyroid          3711 non-null   object
 10  query hyperthyroid         3711 non-null   object
 11  lithium                    3711 non-null   object
 12  goitre                     3711 non-null   object
 13  tumor                      3711 non-null   object
 14  hypopituitary              3711 non-null   object
 15  psych                      3711 non-null   object
 16  TSH measured               3711 non-null   object
 17  TSH                        3707 non-null   object
 18  T3 measured                3711 non-null   object
 19  T3                         3711 non-null   object
 20  TT4 measured               3711 non-null   object
 21  TT4                        3711 non-null   object
 22  T4U measured               3711 non-null   object
 23  T4U                        3711 non-null   object
 24  FTI measured               3711 non-null   object
 25  FTI                        3711 non-null   object
 26  TBG measured               3711 non-null   object
 27  TBG                        3711 non-null   object
 28  referral source            3711 non-null   object
 29  binaryClass                3711 non-null   object
dtypes: object(30)
memory usage: 898.8+ KB

In [143]:
# how to find unwanted entity like , *$###^%
df.nunique()

age                           94
sex                            3
on thyroxine                   2
query on thyroxine             2
on antithyroid medication      2
sick                           2
pregnant                       2
thyroid surgery                2
I131 treatment                 2
query hypothyroid              2
query hyperthyroid             2
lithium                        2
goitre                         2
tumor                          2
hypopituitary                  2
psych                          2
TSH measured                   2
TSH                          288
T3 measured                    2
T3                            70
TT4 measured                   2
TT4                          242
T4U measured                   2
T4U                          147
FTI measured                   2
FTI                          235
TBG measured                   1
TBG                            1
referral source                5
binaryClass                    2
dtype: int64

In [144]:
df['sex'].unique()

array(['F', 'M', '?'], dtype=object)

In [145]:
df['age'].unique()

array(['41', '23', '46', '70', '18', '59', '80', '66', '68', '84', '67',
       '71', '28', '65', '42', '63', '51', '81', '54', '55', '60', '25',
       '73', '34', '78', '37', '85', '26', '58', '64', '44', '48', '61',
       '35', '83', '21', '87', '53', '77', '27', '69', '74', '38', '76',
       '45', '36', '22', '43', '72', '82', '31', '39', '49', '62', '57',
       '1', '50', '30', '29', '75', '19', '7', '79', '17', '24', '15',
       '32', '47', '16', '52', '33', '13', '10', '89', '56', '20', '90',
       '40', '88', '14', '86', '94', '12', '4', '11', '8', '5', '455',
       '2', '91', '6', '?', '93', '92'], dtype=object)

In [146]:
df['binaryClass'].unique()

array(['P', 'N'], dtype=object)

In [147]:
# all unique value in data  frame using for loop 
for i in df.columns:
    print(i)
    print(df[i].unique())
    print('--------------------')

age
['41' '23' '46' '70' '18' '59' '80' '66' '68' '84' '67' '71' '28' '65'
 '42' '63' '51' '81' '54' '55' '60' '25' '73' '34' '78' '37' '85' '26'
 '58' '64' '44' '48' '61' '35' '83' '21' '87' '53' '77' '27' '69' '74'
 '38' '76' '45' '36' '22' '43' '72' '82' '31' '39' '49' '62' '57' '1' '50'
 '30' '29' '75' '19' '7' '79' '17' '24' '15' '32' '47' '16' '52' '33' '13'
 '10' '89' '56' '20' '90' '40' '88' '14' '86' '94' '12' '4' '11' '8' '5'
 '455' '2' '91' '6' '?' '93' '92']
--------------------
sex
['F' 'M' '?']
--------------------
on thyroxine
['f' 't']
--------------------
query on thyroxine
['f' 't']
--------------------
on antithyroid medication
['f' 't']
--------------------
sick
['f' 't']
--------------------
pregnant
['f' 't']
--------------------
thyroid surgery
['f' 't']
--------------------
I131 treatment
['f' 't']
--------------------
query hypothyroid
['f' 't']
--------------------
query hyperthyroid
['f' 't']
--------------------
lithium
['f' 't']
--------------------
goitre
['f' 't']
--------------------
tumor
['f' 't']
--------------------
hypopituitary
['f' 't']
--------------------
psych
['f' 't']
--------------------
TSH measured
['t' 'f']
--------------------
TSH
['1.3' '4.1' '0.98' '0.16' '0.72' '0.03' '?' '2.2' '0.6' '2.4' '1.1' '2.8'
 '3.3' '12' '1.2' '1.5' '6' '2.1' '0.1' '0.8' '1.9' '3.1' '0.2' '13' '0.3'
 '0.035' '2.5' '0.5' '1.7' '7.3' '1.8' '0.26' '45' '5.4' '0.99' '0.25'
 '0.92' '0.15' '0.64' '1' '0.4' '2' '2.6' '14.8' '15' '19' '0.02' '3'
 '2.9' '3.2' '9' '1.6' '4.3' '0.005' '0.31' '0.61' '0.05' '7.8' '160'
 '0.025' '1.4' '0.01' '8.8' '151' '0.04' '3.9' '9.4' '2.7' '2.3' '0.94'
 '0.045' '3.5' '0.88' '0.08' '4.5' '0.68' '0.7' '0.67' '27' '6.1' '0.75'
 '0.55' '26' '5.2' '0.77' '0.07' '0.9' '11.4' '143' '0.45' '0.57' '0.65'
 '0.015' '16' '108' '0.83' '9.2' '86' '0.62' '0.59' '9.1' '5.9' '52'
 '0.33' '31' '5.8' '0.28' '51' '6.3' '4.4' '9.6' '3.4' '0.09' '24' '0.76'
 '42' '25' '10' '4.6' '8.6' '0.66' '6.2' '0.79' '28' '0.86' '9.7' '0.84'
 '17' '18' '55' '14' '3.7' '0.87' '6.7' '0.74' '7.6' '0.065' '0.29' '0.37'
 '8' '11' '0.48' '44' '7.9' '5' '7.2' '0.89' '0.93' '0.97' '0.12' '6.4'
 '33' '0.85' '7.1' '0.73' '199' '8.2' '188' '0.22' '98' '22' '6.6' '5.1'
 '0.06' '0.42' '3.8' '35' '4' '0.78' '0.63' '0.52' '60' '0.43' '5.6' '6.9'
 '3.6' '29' '0.38' '4.9' '0.41' '9.9' '7.5' '34' '6.5' '4.7' '103' '0.95'
 '0.14' '0.35' '4.2' '0.81' '0.54' '0.58' '8.9' '5.5' '0.34' '9.3' '0.13'
 '54' '0.39' '8.3' '478' '21' '6.8' '0.32' '0.23' '0.24' '8.1' '0.91'
 '5.3' '100' '0.27' '1.01' '58' '41' '183' '18.4' '0.47' '0.17' '12.1'
 '0.19' '0.82' '43' '0.44' '70' '7.7' '8.4' '0.69' '8.5' '0.21' '82'
 '0.055' '0.96' '0.71' '38' '0.36' '9.8' '7' '0.46' '11.1' '39' '76' '5.7'
 '32' '126' '26.4' '0.53' '0.49' '36' '178' '145' '47' '4.8' '10.3' '89'
 '7.4' '472' '0.51' '116' '61' '99' '46' '78' '468' '14.4' '165' '9.5'
 '80' '0.56' '30.5' '20' '0.18' '50' '236' '23' '440' '139' '530' '109'
 '30' '400' '1.02' '230' '5.73' '66' '65' '117' '40' nan]
--------------------
T3 measured
['t' 'f']
--------------------
T3
['2.5' '2' '?' '1.9' '1.2' '0.6' '2.2' '1.6' '3.8' '1.7' '1.8' '2.6' '2.1'
 '0.3' '5.5' '1.4' '3.1' '1.5' '2.3' '2.4' '2.7' '0.9' '1' '2.8' '2.9'
 '0.8' '1.3' '0.4' '3.3' '3.5' '3.4' '1.1' '4.2' '3.7' '3' '0.7' '4.8'
 '4.3' '0.05' '3.2' '5.4' '4' '0.5' '0.2' '3.6' '5.2' '5' '6' '5.3' '3.9'
 '4.6' '4.5' '7.3' '4.7' '6.7' '4.1' '6.1' '0.1' '4.9' '10.6' '5.1' '7'
 '6.2' '4.4' '7.1' '8.5' '1.44' '7.6' '5.7' '6.6']
--------------------
TT4 measured
['t' 'f']
--------------------
TT4
['125' '102' '109' '175' '61' '183' '72' '80' '123' '83' '115' '152' '171'
 '97' '99' '70' '117' '121' '130' '108' '104' '134' '199' '57' '129' '113'
 '119' '84' '81' '95' '66' '101' '147' '120' '69' '?' '39' '87' '63' '133'
 '86' '163' '162' '103' '96' '151' '112' '82' '138' '71' '77' '93' '107'
 '237' '110' '67' '88' '160' '118' '136' '114' '116' '94' '161' '11' '32'
 '124' '137' '92' '135' '105' '150' '126' '146' '91' '217' '141' '159'
 '122' '100' '111' '140' '205' '225' '85' '90' '74' '219' '127' '132'
 '128' '106' '144' '131' '56' '79' '142' '98' '177' '139' '78' '189' '180'
 '73' '145' '184' '38' '156' '75' '148' '14' '76' '54' '58' '27' '65'
 '193' '13' '143' '12' '64' '257' '164' '59' '167' '18' '41' '176' '37'
 '33' '44' '45' '154' '174' '203' '244' '62' '158' '60' '187' '250' '181'
 '157' '223' '272' '166' '213' '235' '10' '68' '231' '191' '48' '5.8'
 '169' '149' '210' '40' '155' '232' '42' '204' '430' '198' '230' '15'
 '170' '165' '47' '168' '194' '89' '52' '179' '192' '172' '4.8' '50' '182'
 '197' '214' '246' '196' '207' '19' '153' '22' '46' '200' '35' '226' '201'
 '233' '206' '31' '255' '178' '239' '195' '6' '36' '2' '3' '289' '240'
 '209' '43' '34' '252' '29' '263' '301' '23' '188' '211' '253' '21' '173'
 '261' '248' '51' '25' '53' '17' '220' '256' '9.5' '212' '273' '222' '186'
 '49' '372' '16' '28' '24' '4' '30' '2.9' '55' '216' '258']
--------------------
T4U measured
['t' 'f']
--------------------
T4U
['1.14' '?' '0.91' '0.87' '1.3' '0.92' '0.7' '0.93' '0.89' '0.95' '0.99'
 '1.13' '0.86' '0.96' '0.94' '0.9' '1.02' '1.05' '0.62' '1.06' '1.55'
 '0.83' '1.09' '1.07' '1.27' '0.76' '1.16' '1' '0.56' '0.81' '0.68' '0.78'
 '0.85' '1.35' '1.15' '0.82' '1.03' '1.58' '0.79' '1.17' '0.71' '0.72'
 '0.88' '1.11' '1.2' '1.1' '1.33' '0.77' '1.24' '0.53' '1.44' '1.63'
 '1.51' '1.42' '1.23' '1.01' '0.98' '0.61' '1.12' '1.43' '1.25' '1.41'
 '1.68' '0.97' '0.84' '0.8' '1.04' '0.73' '1.08' '1.26' '1.46' '1.29'
 '1.34' '1.66' '1.21' '1.19' '0.75' '0.52' '1.83' '1.39' '1.5' '1.93'
 '1.18' '0.74' '0.58' '1.82' '0.6' '1.67' '1.22' '0.66' '0.67' '1.31'
 '0.54' '1.77' '1.59' '1.97' '1.69' '1.38' '1.28' '1.4' '0.69' '0.65'
 '1.74' '2.03' '1.73' '1.65' '1.36' '1.52' '0.57' '1.53' '1.84' '1.57'
 '1.75' '1.32' '1.37' '0.64' '1.79' '1.8' '0.48' '1.71' '1.62' '1.76'
 '1.56' '1.48' '0.59' '0.31' '1.94' '2.12' '1.47' '0.63' '0.944' '0.49'
 '1.88' '0.5' '0.38' '1.49' '0.41' '1.61' '1.7' '2.32' '0.46' '1.45'
 '1.54' '0.47' '0.36' '2.01' '0.25']
--------------------
FTI measured
['t' 'f']
--------------------
FTI
['109' '?' '120' '70' '141' '78' '115' '132' '93' '121' '153' '151' '107'
 '119' '87' '81' '104' '130' '106' '116' '131' '190' '92' '102' '76' '98'
 '90' '61' '94' '129' '95' '91' '33' '113' '148' '140' '171' '155' '186'
 '122' '136' '110' '111' '97' '72' '100' '88' '67' '84' '103' '135' '203'
 '112' '117' '180' '142' '145' '156' '96' '134' '8.9' '60' '139' '41' '99'
 '89' '146' '124' '105' '85' '157' '143' '71' '221' '28' '108' '137' '83'
 '74' '170' '65' '101' '127' '274' '154' '114' '62' '86' '126' '125' '64'
 '172' '162' '79' '118' '73' '152' '163' '149' '14' '51' '165' '77' '32'
 '69' '80' '11' '54' '164' '123' '144' '10' '214' '200' '160' '53' '16'
 '138' '169' '56' '47' '133' '43' '68' '179' '224' '220' '82' '362' '182'
 '75' '66' '161' '57' '58' '312' '63' '128' '147' '158' '281' '207' '216'
 '251' '194' '46' '7' '42' '174' '395' '185' '13' '201' '48' '173' '167'
 '188' '150' '235' '175' '159' '5.4' '189' '59' '166' '34' '228' '232'
 '217' '177' '176' '195' '219' '17' '210' '168' '205' '39' '187' '50'
 '349' '52' '206' '253' '242' '244' '213' '178' '247' '215' '198' '19'
 '237' '37' '7.6' '24' '2' '3' '191' '223' '9' '29' '222' '204' '26' '218'
 '197' '49' '209' '183' '265' '199' '196' '20' '283' '36' '249' '181'
 '8.4' '291' '55' '245' '18' '40' '8.5' '184' '4' '21' '280' '2.8' '9.1'
 '27' '15' '35' '227']
--------------------
TBG measured
['f']
--------------------
TBG
['?']
--------------------
referral source
['SVHC' 'other' 'SVI' 'STMW' 'SVHD']
--------------------
binaryClass
['P' 'N']
--------------------

In [148]:
df.isnull().count()

age                          3711
sex                          3711
on thyroxine                 3711
query on thyroxine           3711
on antithyroid medication    3711
sick                         3711
pregnant                     3711
thyroid surgery              3711
I131 treatment               3711
query hypothyroid            3711
query hyperthyroid           3711
lithium                      3711
goitre                       3711
tumor                        3711
hypopituitary                3711
psych                        3711
TSH measured                 3711
TSH                          3711
T3 measured                  3711
T3                           3711
TT4 measured                 3711
TT4                          3711
T4U measured                 3711
T4U                          3711
FTI measured                 3711
FTI                          3711
TBG measured                 3711
TBG                          3711
referral source              3711
binaryClass                  3711
dtype: int64

In [149]:
df.isnull().sum()

age                          0
sex                          0
on thyroxine                 0
query on thyroxine           0
on antithyroid medication    0
sick                         0
pregnant                     0
thyroid surgery              0
I131 treatment               0
query hypothyroid            0
query hyperthyroid           0
lithium                      0
goitre                       0
tumor                        0
hypopituitary                0
psych                        0
TSH measured                 0
TSH                          4
T3 measured                  0
T3                           0
TT4 measured                 0
TT4                          0
T4U measured                 0
T4U                          0
FTI measured                 0
FTI                          0
TBG measured                 0
TBG                          0
referral source              0
binaryClass                  0
dtype: int64

In [151]:
df['TSH'].unique()

array(['1.3', '4.1', '0.98', '0.16', '0.72', '0.03', '?', '2.2', '0.6',
       '2.4', '1.1', '2.8', '3.3', '12', '1.2', '1.5', '6', '2.1', '0.1',
       '0.8', '1.9', '3.1', '0.2', '13', '0.3', '0.035', '2.5', '0.5',
       '1.7', '7.3', '1.8', '0.26', '45', '5.4', '0.99', '0.25', '0.92',
       '0.15', '0.64', '1', '0.4', '2', '2.6', '14.8', '15', '19', '0.02',
       '3', '2.9', '3.2', '9', '1.6', '4.3', '0.005', '0.31', '0.61',
       '0.05', '7.8', '160', '0.025', '1.4', '0.01', '8.8', '151', '0.04',
       '3.9', '9.4', '2.7', '2.3', '0.94', '0.045', '3.5', '0.88', '0.08',
       '4.5', '0.68', '0.7', '0.67', '27', '6.1', '0.75', '0.55', '26',
       '5.2', '0.77', '0.07', '0.9', '11.4', '143', '0.45', '0.57',
       '0.65', '0.015', '16', '108', '0.83', '9.2', '86', '0.62', '0.59',
       '9.1', '5.9', '52', '0.33', '31', '5.8', '0.28', '51', '6.3',
       '4.4', '9.6', '3.4', '0.09', '24', '0.76', '42', '25', '10', '4.6',
       '8.6', '0.66', '6.2', '0.79', '28', '0.86', '9.7', '0.84', '17',
       '18', '55', '14', '3.7', '0.87', '6.7', '0.74', '7.6', '0.065',
       '0.29', '0.37', '8', '11', '0.48', '44', '7.9', '5', '7.2', '0.89',
       '0.93', '0.97', '0.12', '6.4', '33', '0.85', '7.1', '0.73', '199',
       '8.2', '188', '0.22', '98', '22', '6.6', '5.1', '0.06', '0.42',
       '3.8', '35', '4', '0.78', '0.63', '0.52', '60', '0.43', '5.6',
       '6.9', '3.6', '29', '0.38', '4.9', '0.41', '9.9', '7.5', '34',
       '6.5', '4.7', '103', '0.95', '0.14', '0.35', '4.2', '0.81', '0.54',
       '0.58', '8.9', '5.5', '0.34', '9.3', '0.13', '54', '0.39', '8.3',
       '478', '21', '6.8', '0.32', '0.23', '0.24', '8.1', '0.91', '5.3',
       '100', '0.27', '1.01', '58', '41', '183', '18.4', '0.47', '0.17',
       '12.1', '0.19', '0.82', '43', '0.44', '70', '7.7', '8.4', '0.69',
       '8.5', '0.21', '82', '0.055', '0.96', '0.71', '38', '0.36', '9.8',
       '7', '0.46', '11.1', '39', '76', '5.7', '32', '126', '26.4',
       '0.53', '0.49', '36', '178', '145', '47', '4.8', '10.3', '89',
       '7.4', '472', '0.51', '116', '61', '99', '46', '78', '468', '14.4',
       '165', '9.5', '80', '0.56', '30.5', '20', '0.18', '50', '236',
       '23', '440', '139', '530', '109', '30', '400', '1.02', '230',
       '5.73', '66', '65', '117', '40', nan], dtype=object)

In [153]:
df['TSH']=df['TSH'].fillna('m')

C:\Users\dhana\AppData\Local\Temp\ipykernel_15484\1416136108.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['TSH']=df['TSH'].fillna('m')

In [154]:
df['TSH'].unique()

array(['1.3', '4.1', '0.98', '0.16', '0.72', '0.03', '?', '2.2', '0.6',
       '2.4', '1.1', '2.8', '3.3', '12', '1.2', '1.5', '6', '2.1', '0.1',
       '0.8', '1.9', '3.1', '0.2', '13', '0.3', '0.035', '2.5', '0.5',
       '1.7', '7.3', '1.8', '0.26', '45', '5.4', '0.99', '0.25', '0.92',
       '0.15', '0.64', '1', '0.4', '2', '2.6', '14.8', '15', '19', '0.02',
       '3', '2.9', '3.2', '9', '1.6', '4.3', '0.005', '0.31', '0.61',
       '0.05', '7.8', '160', '0.025', '1.4', '0.01', '8.8', '151', '0.04',
       '3.9', '9.4', '2.7', '2.3', '0.94', '0.045', '3.5', '0.88', '0.08',
       '4.5', '0.68', '0.7', '0.67', '27', '6.1', '0.75', '0.55', '26',
       '5.2', '0.77', '0.07', '0.9', '11.4', '143', '0.45', '0.57',
       '0.65', '0.015', '16', '108', '0.83', '9.2', '86', '0.62', '0.59',
       '9.1', '5.9', '52', '0.33', '31', '5.8', '0.28', '51', '6.3',
       '4.4', '9.6', '3.4', '0.09', '24', '0.76', '42', '25', '10', '4.6',
       '8.6', '0.66', '6.2', '0.79', '28', '0.86', '9.7', '0.84', '17',
       '18', '55', '14', '3.7', '0.87', '6.7', '0.74', '7.6', '0.065',
       '0.29', '0.37', '8', '11', '0.48', '44', '7.9', '5', '7.2', '0.89',
       '0.93', '0.97', '0.12', '6.4', '33', '0.85', '7.1', '0.73', '199',
       '8.2', '188', '0.22', '98', '22', '6.6', '5.1', '0.06', '0.42',
       '3.8', '35', '4', '0.78', '0.63', '0.52', '60', '0.43', '5.6',
       '6.9', '3.6', '29', '0.38', '4.9', '0.41', '9.9', '7.5', '34',
       '6.5', '4.7', '103', '0.95', '0.14', '0.35', '4.2', '0.81', '0.54',
       '0.58', '8.9', '5.5', '0.34', '9.3', '0.13', '54', '0.39', '8.3',
       '478', '21', '6.8', '0.32', '0.23', '0.24', '8.1', '0.91', '5.3',
       '100', '0.27', '1.01', '58', '41', '183', '18.4', '0.47', '0.17',
       '12.1', '0.19', '0.82', '43', '0.44', '70', '7.7', '8.4', '0.69',
       '8.5', '0.21', '82', '0.055', '0.96', '0.71', '38', '0.36', '9.8',
       '7', '0.46', '11.1', '39', '76', '5.7', '32', '126', '26.4',
       '0.53', '0.49', '36', '178', '145', '47', '4.8', '10.3', '89',
       '7.4', '472', '0.51', '116', '61', '99', '46', '78', '468', '14.4',
       '165', '9.5', '80', '0.56', '30.5', '20', '0.18', '50', '236',
       '23', '440', '139', '530', '109', '30', '400', '1.02', '230',
       '5.73', '66', '65', '117', '40', 'm'], dtype=object)

In [129]:
df=df.dropna()

In [76]:
df

,age,sex,on thyroxine,query on thyroxine,on antithyroid medication,sick,pregnant,thyroid surgery,I131 treatment,query hypothyroid,query hyperthyroid,lithium,goitre,tumor,hypopituitary,psych,TSH measured,TSH,T3 measured,T3,TT4 measured,TT4,T4U measured,T4U,FTI measured,FTI,TBG measured,TBG,referral source,binaryClass
0,41,F,f,f,f,f,f,f,f,f,f,f,f,f,f,f,t,1.3,t,2.5,t,125,t,1.14,t,109,f,?,SVHC,P
1,23,F,f,f,f,f,f,f,f,f,f,f,f,f,f,f,t,4.1,t,2,t,102,f,?,f,?,f,?,other,P
2,46,M,f,f,f,f,f,f,f,f,f,f,f,f,f,f,t,0.98,f,?,t,109,t,0.91,t,120,f,?,other,P
3,70,F,t,f,f,f,f,f,f,f,f,f,f,f,f,f,t,0.16,t,1.9,t,175,f,?,f,?,f,?,other,P
4,70,F,f,f,f,f,f,f,f,f,f,f,f,f,f,f,t,0.72,t,1.2,t,61,t,0.87,t,70,f,?,SVI,P
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3761,38,F,f,f,f,f,f,f,f,f,f,f,f,f,f,f,t,2.8,t,2.4,t,96,t,0.98,t,99,f,?,other,P
3762,61,M,f,f,f,f,f,f,f,f,f,f,f,f,f,f,f,?,t,1,t,72,t,0.7,t,103,f,?,other,P
3764,54,M,f,f,f,f,f,f,f,f,f,f,f,f,f,f,t,1.2,t,1.9,t,89,t,0.85,t,104,f,?,SVI,P
3765,73,F,t,f,f,f,f,f,f,f,f,f,f,f,f,f,t,8.5,t,2.1,t,104,t,1.13,t,92,f,?,SVI,P
3766,19,F,f,f,f,f,f,f,f,f,f,f,f,f,f,f,t,8.8,t,2.7,t,108,t,1.11,t,97,f,?,other,N

In [77]:
df.isnull().sum()

age                          0
sex                          0
on thyroxine                 0
query on thyroxine           0
on antithyroid medication    0
sick                         0
pregnant                     0
thyroid surgery              0
I131 treatment               0
query hypothyroid            0
query hyperthyroid           0
lithium                      0
goitre                       0
tumor                        0
hypopituitary                0
psych                        0
TSH measured                 0
TSH                          0
T3 measured                  0
T3                           0
TT4 measured                 0
TT4                          0
T4U measured                 0
T4U                          0
FTI measured                 0
FTI                          0
TBG measured                 0
TBG                          0
referral source              0
binaryClass                  0
dtype: int64

In [ ]:
?
?
?
?
?